@charset "UTF-8";
* {
    margin:0;
    font-family: Roboto;
}


.modalHeader {
    display:flex;
    justify-content: flex-end;
	align-items: baseline;
}

.InputBox {
    display:flex;
    margin-top:50px;
    width: 80%;
    height: 80px;
    background: #FFFFFF;
    border: 1px solid #FF9F03;
    box-sizing: border-box;
    border-radius: 20px;
    font-size : 50px;
}

.ContentInputBox {
    display:flex;
    margin-top:50px;
    width: 1000px;
    height: 300px;
    background: #FFFFFF;
    border: 1px solid #FF9F03;
    box-sizing: border-box;
    border-radius: 20px;
    font-size : 50px;
}

.createBtn {
    width: 400px;
    height: 100px;
    background: #FFFFFF;
    border: 1px solid #FF9F03;
    box-sizing: border-box;
    border-radius: 20px;
    font-size : 30px;
    font-weight: bold;
    color:#FF9F03;
    margin-top: 50px;
}



.createModal {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
}

.title {
    display: flex;
    left: 25.4%;
    right: 25.4%;
    top: 6.96%;
    bottom: 83.9%;

    font-family: 12LotteMartDreamBold;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 60px;
    text-align: center;

    color: #FF9F03;

    transform: matrix(1, 0, 0, 1, 0, 0);
}

.transBtn {
    width: 400px;
    height: 100px;
    background: #FFFFFF;
    border: 1px solid #FF9F03;
    box-sizing: border-box;
    border-radius: 20px;
    font-size : 30px;
    font-weight: bold;
    color:#FF9F03;
    margin-top: 50px;
}